---
import type { HTMLAttributes } from "astro/types";
import { getLangFromUrl } from '../i18n/home/utils';
import { useTranslations } from  '../i18n/navigation/ui';
import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props extends HTMLAttributes<"a"> {
  text: string;
  addClass?: string;
}
const { text, addClass, href, ...props } = Astro.props;
let isActive: boolean;
if (!href) {
  isActive = false;
} else if (href === "/") {
  isActive = href === Astro.url.pathname;
} else {
  isActive = Astro.url.pathname.includes(
    typeof href === "string" ? href : href.href,
  );
}

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
const hrefLocaleUrl = getRelativeLocaleUrl(lang, href)
---

<a
  class:list={[
    "px-4 py-2 text-sm font-medium",
    { "dark:text-blue-400 text-blue-600 border-b-2 border-blue-400 dark:border-blue-600": isActive },
    { "dark:text-zinc-300 text-zinc-600": !isActive },
    addClass,
  ]}
  aria-current={isActive ? "page" : undefined}
  href={hrefLocaleUrl}
  {...props}
  aria-label={`Go to ${text} page`}
>
  {translation(text)}
</a>
